/* Header.css */
.echo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 24px;
  background: #000;
  color: #fff;
  box-sizing: border-box;

  /* Закрепляем хедер вверху экрана */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.echo-logo {
  height: 60px;
  border-radius: 20px;
  object-fit: contain;
  filter: grayscale(100%) brightness(200%);
}

.ant-avatar {
  border: 2px solid #fff;
  cursor: pointer;
  box-sizing: content-box;
}