.echo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 24px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

.echo-logo {
  height: 60px;
  object-fit: contain;
  filter: grayscale(100%) brightness(200%);
}

.ant-avatar {
  border: 2px solid #fff;
  cursor: pointer;
  box-sizing: content-box;
}