.sidebar {
  position: sticky;
  align-self: flex-start;
  padding: 20px 0;
  width: 200px;
  background: #000;
  color: #fff;
  border-right: 1px solid #2f3336;
  display: flex;
  flex-direction: column;
}

.sidebar-left {
  left: 0;
  border-right: 1px solid #2f3336;
}

.sidebar-right {
  right: 0;
  border-left: 1px solid #2f3336;
  border-right: none;
}


/* Свернутая ширина */
.sidebar-collapsed {
  width: 60px;
}

/* Верхняя кнопка публикации */
.sidebar-button-container {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
}

.public-post-button {
  width: 100%;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: background-color 0.2s ease, width 0.2s ease, border-radius 0.2s ease;
}

.public-post-button:hover {
  background-color: #e1e8ed;
}

/* Кнопка публикации в компактном режиме */
.sidebar.sidebar-collapsed .public-post-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  font-size: 18px;
  gap: 0;
}

/* Навигация */
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.sidebar-nav li {
  margin: 4px 0;
}

/* Ссылки */
.sidebar-nav a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #e7e9ea;
  text-decoration: none;
  padding: 12px 16px;
  margin: 0 12px;
  border-radius: 50px;
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
  font-weight: 400;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

/* Для правой панели */
.sidebar-right .sidebar-nav a {
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: right;
}

.sidebar-nav a:hover {
  background-color: #16181c;
}

/* Активная ссылка */
.sidebar-nav a.active {
  color: #fff;
  font-weight: 600;
  border-left: 6px solid #fcfcfc;
}

.sidebar-right .sidebar-nav a.active {
  border-left: none;
  border-right: 6px solid #fcfcfc;
}

.sidebar.sidebar-collapsed .sidebar-nav a {
  justify-content: center !important;
  flex-direction: row !important;
  gap: 0;
  padding: 12px;
  margin: 0 8px;
  border-radius: 8px;
  text-align: center;
}

/* В коллапсе убираем активные полоски */
.sidebar.sidebar-collapsed .sidebar-nav a.active {
  border: none !important;
}

/* Низ панели */
.sidebar-controls {
  border-top: 1px solid #2f3336;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;

}

.sidebar-toggle-btn,
.sidebar-position-btn {
  background: transparent;
  border: 1px solid #2f3336;
  color: #e7e9ea;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.sidebar-toggle-btn:hover,
.sidebar-position-btn:hover {
  background-color: #16181c;
}