body {
  margin: auto;
  font-family: sans-serif;
  background: #f0f2f5;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
  padding: 2rem;
  background: #fafafa;
}

.ant-layout-content {
  padding: 0 !important;
  flex: 1 1 0% !important;
  transition: 0.3s !important;
}